# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore model weights if you want (optional)
*.h5

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db
